<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calendar</title>
        <link rel="stylesheet" href="style.css">
        <script src="script.js" defer></script>

        <!-- import font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&family=Quicksand:wght@300&display=swap" rel="stylesheet">

    </head>

    <body onload="updateCalendar()">
        <section id="header">
            <a>Anti-Procrastination Schedule</a>
            <nav>
                <ul id="navbar">
                    <li><a href="index.html">Home</a></li>
                    <li>
                        <div id="google-signin" data-target="calendar" hidden="true">
                            <script src="https://accounts.google.com/gsi/client"></script>
                            <script src="https://apis.google.com/js/client.js"></script>
                            <div>
                                <img src="normal_light_button.png" onclick="signIn()">
                                <img src="pressed_light_button.png" onclick="signIn()">
                            </div>
                        </div>
                    </li>
                    
                    <li id="calendar" hidden="true">
                        <a class="active" href="calendar.html">Calendar</a>
                    </li>

                    <li id="dashboard" hidden="true">
                        <a href="dashboard.html">Dashboard</a>
                    </li>
                    <li><img id="profile-icon" href="dashboard.html"></li>
                </ul>
            </nav>
        </section>

        <div id="not-signed-in" style="display: none" class="description"> <!-- style="visibility: hidden" -->
            <h4>Page Not Found</h4>
            <p>Please sign in to access your calendar.</p>
        </div>

        <div id="calendar-content" style="display: none"> <!-- style="visibility: hidden" -->
            <iframe id="gcalendar" src="" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            
        </div>
    </body>
</html>