<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="style.css">
        <script src="script.js" defer></script>

        <!-- possible font (currently not used) -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

    </head>

    <body onload=updateSignedIn()>
        <section id="header">
            <a>Anti-Procrastination Schedule</a>
            <nav>
                <ul id="navbar">
                    <li><a href="index.html">Home</a></li>
                    <!-- will change this later -->
                    <li><a class="active" href="dashboard.html">Dashboard</a></li>
                    <li><img class="profile-icon" id="profile-icon2" href="dashboard.html"></li>
                </ul>
            </nav>
        </section>



    </body>
</html>