<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="style.css">
        <script src="script.js" defer></script>

        <!-- possible font (currently not used) -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

    </head>

    <body onload="updateDashboard()">
        <section id="header">
            <a>Anti-Procrastination Schedule</a>
            <nav>
                <ul id="navbar">
                    <li><a href="index.html">Home</a></li>
                    <li>
                        <div id="google-signin" hidden="true">
                            <script src="https://accounts.google.com/gsi/client"></script>
                            <script src="https://apis.google.com/js/client.js"></script>
                            <div>
                                <img src="normal_light_button.png" onclick="signIn()">
                                <img src="pressed_light_button.png" onclick="signIn()">
                            </div>
                        </div>
                    </li>
                    <li id="dashboard">
                        <a class="active" href="dashboard.html">Dashboard</a>
                    </li>
                    <li><img id="profile-icon" href="dashboard.html"></li>
                </ul>
            </nav>
        </section>

        <div id="not-signed-in" style="display: none" class="description"> <!-- style="visibility: hidden" -->
            <h4>Page Not Found</h4>
            <p>Please sign in to access your dashboard.</p>
        </div>

        <div id="dashboard-content" style="display: none"> <!-- style="visibility: hidden" -->

            <div class="row">

                <div class="leftcolumn">
                    <div class="card">
                        <h2>Profile</h2>
                        <p></p>
                    </div>
                    <div class="card">
                        <h3>Title</h3>
                        <p>Text...</p>
                    </div>
                    <div class="card">
                        <h3>Title</h3>
                        <p>Text...</p>
                    </div>
                </div>

                <div class="rightcolumn">
                    <div class="card">
                        <h4>Add task</h4>
                        <h5>......</h5><br>
                        <form action="/calendar.html" method="get">
                            <label for="task-name">Task Name:</label><br>
                            <input type="text" id="task-name" name="tname" class="textbox"><br><br>
                            <label for="task-length">Task Length (hours):</label><br>
                            <input type="number" id="task-length" name="tlength" class="textbox"><br><br>
                            <label for="task-duedate">Due Date</label><br>
                            <input type="date" id="task-duedate" name="tduedate" class="date-input"><br><br>
                            <input type="submit" value="Submit" id="submit-button" name="tsubmit">
                        </form>
                    </div>
                    <div class="card">
                        <h3>Title</h3>
                        <h5>Title description...</h5>
                        <p>Text...</p>
                    </div>
                </div>

            </div>

        </div>
    </body>
</html>