<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="style.css">
        <script src="script.js" defer></script>

        <!-- possible font (currently not used) -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

    </head>

    <body onload="updateDashboard()">
        <section id="header">
            <a>Anti-Procrastination Schedule</a>
            <nav>
                <ul id="navbar">
                    <li><a href="index.html">Home</a></li>
                    <li>
                        <div id="google-signin">
                            <script src="https://accounts.google.com/gsi/client"></script>
                            <script src="https://apis.google.com/js/client.js"></script>
                            <button onclick="signIn()">Sign In</button>
                        </div>
                    </li>
                    <li id="dashboard" class="active">
                        <a href="dashboard.html">Dashboard</a>
                    </li>
                    <li><img id="profile-icon" href="dashboard.html"></li>
                </ul>
            </nav>
        </section>

        <div id="not-signed-in" hidden="true" class="description">
            <h4>Page Not Found</h4>
            <p>Please sign in to access your dashboard.</p>
        </div>

        <div id="dashboard-content" hidden="false">
            
            <!-- ALL DASHBOARD CONTENT HERE -->

        </div>

    </body>
</html>