<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        
        <!-- import font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans" rel="stylesheet">

        <link rel="stylesheet" href="style.css">
        <script src="script.js" defer></script>

    </head>

    <body onload="updateHome()">
        <section id="header">
            <a>Anti-Procrastination Schedule</a>
            <nav>
                <ul id="navbar">
                    <li><a class="active" href="index.html">Home</a></li>
                    <li>
                        <div id="google-signin" data-target="dashboard" hidden="true">

                            <script src="https://accounts.google.com/gsi/client"></script>
                            <script src="https://apis.google.com/js/client.js"></script>

                            <div>
                                <img src="normal_light_button.png" onclick="signIn()">
                                <img src="pressed_light_button.png" onclick="signIn()">
                            </div>

                            <!-- <script src="https://accounts.google.com/gsi/client" async defer></script>

                            <div id="g_id_onload"
                                data-client_id="314363292248-0hkj8at161r1o3og4fgqjs604s35e9m5.apps.googleusercontent.com"
                                scope="https://www.googleapis.com/auth/calendar"
                                data-callback="handleCredentialResponse"
                                data-auto_prompt="false">
                            </div> -->
                    
                            <!-- <div class="g_id_signin"
                                data-type="standard"
                                data-size="large"
                                data-width="100"
                                data-theme="outline"
                                data-text="sign_in_with"
                                data-shape="rectangular"
                                data-logo_alignment="left">
                            </div> -->
                        </div>
                    </li>

                    <li id="calendar" hidden="true">
                        <a href="calendar.html">Calendar</a>
                    </li>

                    <li id="dashboard" hidden="true">
                        <a href="dashboard.html">Dashboard</a>
                    </li>

                    <li><img id="profile-icon" hidden="true" href="dashboard.html"></li>

                </ul>
            </nav>
        </section>

        <div class="separator"></div>

        <section class="description">
            <h4>Project</h4>
            <p>Description</p>
        </section>

        <section class="description">
            <h4>About Us</h4>
            <p>Description</p>
        </section>

    </body>
</html>