body {
    width: 100%;
    background-image: url('https://images8.alphacoders.com/635/635909.jpg');
    background-size: cover;
    /* https://source.unsplash.com/2560x1440/?landscape */
    /* https://images.hdqwalls.com/wallpapers/landscape-itlay-forest-mist-mountains-4k-98.jpg */
    /* https://images8.alphacoders.com/635/635909.jpg */
}

/* header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: whitesmoke;
    box-shadow: 0 5px 15px rgba(34, 39, 53, 0.06);
    height: 80px;
}

#profile-icon {
    height: 35px;
    width: 35px;
    position: absolute;
    border-radius: 50%;
    margin-top: -18px;
    margin-left: -25px;
}

div img:last-child {
    display: none;  
}
div:hover img:last-child {
    display: block;
    cursor: pointer;
}
div:hover img:first-child {
    display: none;  
    cursor: pointer;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* home page */

/* shop page */


@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

a {
    font-size: 20px;
    color: #1a1a1a;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

.description {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
    margin: 50px 25%;
    background: rgb(255, 255, 255, 0.4);
}

.separator {
    padding: 150px;
}



/* Dashboard Style */

/* Left column */
.leftcolumn {
    float: left;
    width: 30%;
    padding-left: 20px;
}
  
/* Right column */
.rightcolumn {
    float: left;
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
}

/* Add card effect */
.card {
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.4);
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
    }

.textbox {
    border-radius: 5px;
    height: 30px;
    width: 300px;
    padding: 20px;
}

.date-input {
    border-radius: 5px;
    height: 30px;
    padding: 20px;
}

#submit-button {
    border-radius: 5px;
    height: 30px;
    width: 100px;
    padding: 10px;
}


/* Calendar Page Style */

#calendar-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    padding: 20px 20px;
    margin: 20px 15%;
    background: white;
}